<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__picture">

      <img src="https://s2.glbimg.com/JcgfuKcFwxyy70kDIs1cGZePxvc=/620x466/top/e.glbimg.com/og/ed/f/original/2019/05/03/mv5bmjgwndu5ndkxmv5bml5banbnxkftztcwntq1nzi4na._v1_sy1000_cr0015041000_al_.jpg"
      alt=""
      srcset="">
    </div>

    <div class="small-card__title">
      <h1><a href="#">Angular que  nao sei oq</a></h1>
    </div>

  </div>

  <div class="container__small-card-separator">
    <hr>
  </div>
</div>
